<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HTML Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table tr td{
            padding:5px;
        }
        .headers{
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>HTML Table</h1>
    <table>
        <tr class="headers">
            <td>user#</td>
            <td>first name</td>
            <td>last name</td>
            <td>full name</td>
            <td>full name in upper case</td>
            <td>length of full name</td>
        </tr>
        {% for i in range(users|length) %} 
        <tr>
            <td class="headers">{{ i+1 }}</td>  
            <td>{{ users[i]["first_name"] }}</td>
            <td>{{ users[i]["last_name"] }}</td>
            <td>{{ users[i]["first_name"]+ " " +users[i]["last_name"] }}</td>
            <td>{{ users[i]["first_name"].upper()+ " "+ users[i]["last_name"].upper() }}</td>
            <td>{{ users[i]["first_name"]|length + users[i]["last_name"]|length}}</td>
        </tr> 
        {% endfor %}
    </table>  
</body>
</html>