<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HTML Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
</head>
<body>
    <h1>HTML Table</h1>
    <table class="table table-dark">
        <tr>
            <th>user#</th>
            <th>first name</th>
            <th>last name</th>
            <th>full name</th>
            <th>full name in upper case</th>
            <th>length of full name</th>
        </tr>
        {% for i in range(users|length) %} 
        <tr>
            <th>{{ i+1 }}</th>  
            <td>{{ users[i]["first_name"] }}</td>
            <td>{{ users[i]["last_name"] }}</td>
            <td>{{ users[i]["first_name"]+ " " +users[i]["last_name"] }}</td>
            <td>{{ users[i]["first_name"].upper()+ " "+ users[i]["last_name"].upper() }}</td>
            <td>{{ users[i]["first_name"]|length + users[i]["last_name"]|length}}</td>
        </tr> 
        {% endfor %}
    </table>  
</body>
</html>